<!DOCTYPE html>
<html>
<head>
    <title>Lista de Tareas</title>
</head>
<body>
    <h1>Lista de Tareas</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Agregar Tarea</button>
    </form>
    <ul>
        {% for task in tasks %}
        <li>
            {% if task.completed %}
            <strike>{{ task.text }}</strike>
            {% else %}
            {{ task.text }}
            {% endif %}
            <a href="{% url 'task_complete' task.pk %}">Completar</a>
            <a href="{% url 'task_edit' task.pk %}">Editar</a>
            <a href="{% url 'task_delete' task.pk %}">Eliminar</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>